In [1]:
import pandas as pd
import numpy as np

# Pandas Data Processing

#### Tasks:
    -1 Capitalise 'city'
    -2 turn 'zip', 'beds', 'baths', 'sq__ft', 'price' into `int`
    -3 turn 'latitude' and 'longitude' into `float`
    -4 rename 'sq__ft' to 'sq_ft'
    -5 turn 'sale_date' into a 'YYYY-MM-DD' format

In [2]:
df = pd.read_csv("Sacramentorealestatetransactions.csv")

In [3]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.head(5)

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [9]:
df["street"]

0             3526 HIGH ST
1              51 OMAHA CT
2           2796 BRANCH ST
3         2805 JANETTE WAY
4          6001 MCMAHON DR
              ...
980     9169 GARLINGTON CT
981        6932 RUSKUT WAY
982      7933 DAFFODIL WAY
983       8304 RED FOX WAY
984    3882 YELLOWSTONE LN
Name: street, Length: 985, dtype: object

In [10]:
type(df["street"])

pandas.core.series.Series

In [11]:
df[["street"]]

                  street
0           3526 HIGH ST
1            51 OMAHA CT
2         2796 BRANCH ST
3       2805 JANETTE WAY
4        6001 MCMAHON DR
..                   ...
980   9169 GARLINGTON CT
981      6932 RUSKUT WAY
982    7933 DAFFODIL WAY
983     8304 RED FOX WAY
984  3882 YELLOWSTONE LN

[985 rows x 1 columns]

In [12]:
type(df[["street"]])

pandas.core.frame.DataFrame

Avoid using class instance variables, better use df["street name"] to access columns as Series objects

## -4 renaming 'sq__ft' to 'sq_ft'

In [18]:
df_clean = df.copy()   # creating a copy that can be used to practice

In [17]:
df_clean.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [20]:
df_clean.columns  # accesing column labels

Index(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type',
       'sale_date', 'price', 'latitude', 'longitude'],
      dtype='object')

In [21]:
type(df_clean.columns)

pandas.core.indexes.base.Index

In [22]:
list(df_clean.columns)

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq__ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [23]:
[col_name for col_name in df_clean.columns]

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq__ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [24]:
[col_name.replace("__","_") for col_name in df_clean.columns]

['street',
 'city',
 'zip',
 'state',
 'beds',
 'baths',
 'sq_ft',
 'type',
 'sale_date',
 'price',
 'latitude',
 'longitude']

In [25]:
df_clean.columns = [col_name.replace("__","_") for col_name in df_clean.columns]

In [26]:
df_clean.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

## 1 Capitalise 'city'

In [27]:
df_clean["city"]

0           SACRAMENTO
1           SACRAMENTO
2           SACRAMENTO
3           SACRAMENTO
4           SACRAMENTO
            ...
980         SACRAMENTO
981         SACRAMENTO
982     CITRUS HEIGHTS
983          ELK GROVE
984    EL DORADO HILLS
Name: city, Length: 985, dtype: object

In [28]:
df_clean["city"].str.capitalize()

0           Sacramento
1           Sacramento
2           Sacramento
3           Sacramento
4           Sacramento
            ...
980         Sacramento
981         Sacramento
982     Citrus heights
983          Elk grove
984    El dorado hills
Name: city, Length: 985, dtype: object

In [29]:
df_clean["city"].str.title() # to use capital letters in all words of the city name

0           Sacramento
1           Sacramento
2           Sacramento
3           Sacramento
4           Sacramento
            ...
980         Sacramento
981         Sacramento
982     Citrus Heights
983          Elk Grove
984    El Dorado Hills
Name: city, Length: 985, dtype: object

In [30]:
df_clean

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [31]:
df_clean["city"] = df_clean["city"].str.title()

In [33]:
df_clean.head(10)

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,Sacramento,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,Sacramento,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,Sacramento,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,Sacramento,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,Sacramento,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
5,5828 PEPPERMILL CT,Sacramento,95841,CA,3,1,1122,Condo,Wed May 21 00:00:00 EDT 2008,89921,38.662595,-121.327813
6,6048 OGDEN NASH WAY,Sacramento,95842,CA,3,2,1104,Residential,Wed May 21 00:00:00 EDT 2008,90895,38.681659,-121.351705
7,2561 19TH AVE,Sacramento,95820,CA,3,1,1177,Residential,Wed May 21 00:00:00 EDT 2008,91002,38.535092,-121.481367
8,11150 TRINITY RIVER DR Unit 114,Rancho Cordova,95670,CA,2,2,941,Condo,Wed May 21 00:00:00 EDT 2008,94905,38.621188,-121.270555
9,7325 10TH ST,Rio Linda,95673,CA,3,2,1146,Residential,Wed May 21 00:00:00 EDT 2008,98937,38.700909,-121.442979

## 2 turn 'zip', 'beds', 'baths... into int   (done already)

## 3 turning 'latitude# and #lingitude' into float

In [34]:
df_clean.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq_ft          int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

Most of the types were already correctly inferred

5. Turning 'sale date' into 'YYYYMMDD' format

In [36]:
df_clean["sale_date"]

0      Wed May 21 00:00:00 EDT 2008
1      Wed May 21 00:00:00 EDT 2008
2      Wed May 21 00:00:00 EDT 2008
3      Wed May 21 00:00:00 EDT 2008
4      Wed May 21 00:00:00 EDT 2008
                   ...
980    Thu May 15 00:00:00 EDT 2008
981    Thu May 15 00:00:00 EDT 2008
982    Thu May 15 00:00:00 EDT 2008
983    Thu May 15 00:00:00 EDT 2008
984    Thu May 15 00:00:00 EDT 2008
Name: sale_date, Length: 985, dtype: object

In [37]:
type(df_clean["sale_date"])

pandas.core.series.Series

In [39]:
df_clean["sale_date"].dtypes      # O for object

dtype('O')

In [40]:
pd.to_datetime(df_clean["sale_date"])

/home/oscar/anaconda3/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

0     2008-05-21
1     2008-05-21
2     2008-05-21
3     2008-05-21
4     2008-05-21
         ...
980   2008-05-15
981   2008-05-15
982   2008-05-15
983   2008-05-15
984   2008-05-15
Name: sale_date, Length: 985, dtype: datetime64[ns]

In [43]:
pd.to_datetime(df_clean["sale_date"], utc=True)

/home/oscar/anaconda3/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

0     2008-05-21 00:00:00+00:00
1     2008-05-21 00:00:00+00:00
2     2008-05-21 00:00:00+00:00
3     2008-05-21 00:00:00+00:00
4     2008-05-21 00:00:00+00:00
                 ...
980   2008-05-15 00:00:00+00:00
981   2008-05-15 00:00:00+00:00
982   2008-05-15 00:00:00+00:00
983   2008-05-15 00:00:00+00:00
984   2008-05-15 00:00:00+00:00
Name: sale_date, Length: 985, dtype: datetime64[ns, UTC]

In [45]:
pd.to_datetime(df_clean["sale_date"], utc=True).dt.strftime("%Y-%m-%d")

/home/oscar/anaconda3/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

0      2008-05-21
1      2008-05-21
2      2008-05-21
3      2008-05-21
4      2008-05-21
          ...
980    2008-05-15
981    2008-05-15
982    2008-05-15
983    2008-05-15
984    2008-05-15
Name: sale_date, Length: 985, dtype: object

In [46]:
df_clean["sale_date"] = pd.to_datetime(df_clean["sale_date"], utc=True).dt.strftime("%Y-%m-%d")

/home/oscar/anaconda3/lib/python3.9/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [47]:
df_clean.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,Sacramento,95838,CA,2,1,836,Residential,2008-05-21,59222,38.631913,-121.434879
1,51 OMAHA CT,Sacramento,95823,CA,3,1,1167,Residential,2008-05-21,68212,38.478902,-121.431028
2,2796 BRANCH ST,Sacramento,95815,CA,2,1,796,Residential,2008-05-21,68880,38.618305,-121.443839
3,2805 JANETTE WAY,Sacramento,95815,CA,2,1,852,Residential,2008-05-21,69307,38.616835,-121.439146
4,6001 MCMAHON DR,Sacramento,95824,CA,2,1,797,Residential,2008-05-21,81900,38.519470,-121.435768

## Recap: Repeating all steps

In [48]:
df_1 = pd.read_csv("Sacramentorealestatetransactions.csv") # read data

In [50]:
df_1.columns = [col_name.replace("__","_") for col_name in df_1.columns] # replaceing "_" from column names

In [52]:
df_1.dtypes # types already inferred

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq_ft          int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [54]:
df_1["sale_date"] = pd.to_datetime(df_1["sale_date"], utc=True).dt.strftime("%Y-%m-%d") # data string into YYYY-MM-DD

In [56]:
df_1.head()

,street,city,zip,state,beds,baths,sq_ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,2008-05-21,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,2008-05-21,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,2008-05-21,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,2008-05-21,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,2008-05-21,81900,38.519470,-121.435768

In [58]:
df_1.to_csv("clean_sacramento.csv", index=False)

In [59]:
df_1.to_pickle("clean_scramento.pkl")