In [1]:
import pandas as pd
import numpy as np

# Pandas Data Processing

#### Tasks:
    -1 Capitalise 'city'
    -2 turn 'zip', 'beds', 'baths', 'sq__ft', 'price' into `int`
    -3 turn 'latitude' and 'longitude' into `float`
    -4 rename 'sq__ft' to 'sq_ft'
    -5 turn 'sale_date' into a 'YYYY-MM-DD' format

In [2]:
df = pd.read_csv("Sacramentorealestatetransactions.csv")

In [3]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.head(5)

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [9]:
df["street"]

0             3526 HIGH ST
1              51 OMAHA CT
2           2796 BRANCH ST
3         2805 JANETTE WAY
4          6001 MCMAHON DR
              ...
980     9169 GARLINGTON CT
981        6932 RUSKUT WAY
982      7933 DAFFODIL WAY
983       8304 RED FOX WAY
984    3882 YELLOWSTONE LN
Name: street, Length: 985, dtype: object

In [10]:
type(df["street"])

pandas.core.series.Series

In [11]:
df[["street"]]

                  street
0           3526 HIGH ST
1            51 OMAHA CT
2         2796 BRANCH ST
3       2805 JANETTE WAY
4        6001 MCMAHON DR
..                   ...
980   9169 GARLINGTON CT
981      6932 RUSKUT WAY
982    7933 DAFFODIL WAY
983     8304 RED FOX WAY
984  3882 YELLOWSTONE LN

[985 rows x 1 columns]

In [12]:
type(df[["street"]])

pandas.core.frame.DataFrame