In [1]:
import csv

In [2]:
with open("ga_data_rndm_2.csv", "r") as csvfile:
    real_estate_data = csv.DictReader(csvfile, delimiter =",")
    i = 0
    for row in real_estate_data:
        print(row)
        if i == 10:
            break
        i+=1

{'': '0', 'Unnamed: 0': '0', 'ga:date': '20190101', 'ga:deviceCategory': 'desktop', 'ga:dimension13': 'Technical 50-50 AA-T:0,Recommendation Slide:0,Second Technical 50-:0', 'ga:pageviews': '20471.0', 'ga:sessions': '3688.0', 'ga:transactionRevenue': '5752.6892191725465', 'ga:transactions': '16.0', 'ga:uniquePageviews': '15230'}
{'': '1', 'Unnamed: 0': '1', 'ga:date': '20190101', 'ga:deviceCategory': 'mobile', 'ga:dimension13': 'Technical 50-50 AA-T:0,Recommendation Slide:0,Second Technical 50-:0', 'ga:pageviews': '55935.0', 'ga:sessions': '11187.0', 'ga:transactionRevenue': '13608.66148352123', 'ga:transactions': '63.0', 'ga:uniquePageviews': '38746'}
{'': '2', 'Unnamed: 0': '2', 'ga:date': '20190101', 'ga:deviceCategory': 'tablet', 'ga:dimension13': 'Technical 50-50 AA-T:0,Recommendation Slide:0,Second Technical 50-:0', 'ga:pageviews': '16573.0', 'ga:sessions': '2857.0', 'ga:transactionRevenue': '1888.473350014937', 'ga:transactions': '16.0', 'ga:uniquePageviews': '11914'}
{'': '3', 'Unnamed: 0': '3', 'ga:date': '20190102', 'ga:deviceCategory': 'desktop', 'ga:dimension13': 'Technical 50-50 AA-T:0,Recommendation Slide:0,Second Technical 50-:0', 'ga:pageviews': '35192.0', 'ga:sessions': '5426.0', 'ga:transactionRevenue': '1974.257458047882', 'ga:transactions': '16.0', 'ga:uniquePageviews': '25681'}
{'': '4', 'Unnamed: 0': '4', 'ga:date': '20190102', 'ga:deviceCategory': 'mobile', 'ga:dimension13': 'Technical 50-50 AA-T:0,Recommendation Slide:0,Second Technical 50-:0', 'ga:pageviews': '62595.0', 'ga:sessions': '11332.0', 'ga:transactionRevenue': '16585.946557324103', 'ga:transactions': '24.0', 'ga:uniquePageviews': '42533'}
{'': '5', 'Unnamed: 0': '5', 'ga:date': '20190102', 'ga:deviceCategory': 'tablet', 'ga:dimension13': 'Technical 50-50 AA-T:0,Recommendation Slide:0,Second Technical 50-:0', 'ga:pageviews': '18223.0', 'ga:sessions': '2987.0', 'ga:transactionRevenue': '520.644887110495', 'ga:transactions': '16.0', 'ga:uniquePageviews': '12401'}
{'': '6', 'Unnamed: 0': '6', 'ga:date': '20190103', 'ga:deviceCategory': 'desktop', 'ga:dimension13': 'Technical 50-50 AA-T:0,Recommendation Slide:0,Second Technical 50-:0', 'ga:pageviews': '40451.0', 'ga:sessions': '6241.0', 'ga:transactionRevenue': '16789.225190445723', 'ga:transactions': '47.0', 'ga:uniquePageviews': '28933'}
{'': '7', 'Unnamed: 0': '7', 'ga:date': '20190103', 'ga:deviceCategory': 'mobile', 'ga:dimension13': 'Technical 50-50 AA-T:0,Recommendation Slide:0,Second Technical 50-:0', 'ga:pageviews': '71138.0', 'ga:sessions': '12574.0', 'ga:transactionRevenue': '6958.296616798211', 'ga:transactions': '39.0', 'ga:uniquePageviews': '47799'}
{'': '8', 'Unnamed: 0': '8', 'ga:date': '20190103', 'ga:deviceCategory': 'tablet', 'ga:dimension13': 'Technical 50-50 AA-T:0,Recommendation Slide:0,Second Technical 50-:0', 'ga:pageviews': '16448.0', 'ga:sessions': '2752.0', 'ga:transactionRevenue': '1982.3816147727762', 'ga:transactions': '16.0', 'ga:uniquePageviews': '11434'}
{'': '9', 'Unnamed: 0': '9', 'ga:date': '20190104', 'ga:deviceCategory': 'desktop', 'ga:dimension13': 'Technical 50-50 AA-T:0,Recommendation Slide:0,Second Technical 50-:0', 'ga:pageviews': '41362.0', 'ga:sessions': '6188.0', 'ga:transactionRevenue': '5865.990631289222', 'ga:transactions': '24.0', 'ga:uniquePageviews': '29357'}
{'': '10', 'Unnamed: 0': '10', 'ga:date': '20190104', 'ga:deviceCategory': 'mobile', 'ga:dimension13': 'Technical 50-50 AA-T:0,Recommendation Slide:0,Second Technical 50-:0', 'ga:pageviews': '62463.0', 'ga:sessions': '12072.0', 'ga:transactionRevenue': '17576.831616194937', 'ga:transactions': '47.0', 'ga:uniquePageviews': '42909'}

In [3]:
import pandas as pd

In [5]:
pd.read_csv("ga_data_rndm_2.csv")

,Unnamed: 0.1,Unnamed: 0,ga:date,ga:deviceCategory,ga:dimension13,ga:pageviews,ga:sessions,ga:transactionRevenue,ga:transactions,ga:uniquePageviews
0,0,0,20190101,desktop,"Technical 50-50 AA-T:0,Recommendation Slide:0,...",20471.0,3688.0,5752.689219,16.0,15230
1,1,1,20190101,mobile,"Technical 50-50 AA-T:0,Recommendation Slide:0,...",55935.0,11187.0,13608.661484,63.0,38746
2,2,2,20190101,tablet,"Technical 50-50 AA-T:0,Recommendation Slide:0,...",16573.0,2857.0,1888.473350,16.0,11914
3,3,3,20190102,desktop,"Technical 50-50 AA-T:0,Recommendation Slide:0,...",35192.0,5426.0,1974.257458,16.0,25681
4,4,4,20190102,mobile,"Technical 50-50 AA-T:0,Recommendation Slide:0,...",62595.0,11332.0,16585.946557,24.0,42533
...,...,...,...,...,...,...,...,...,...,...
758,758,758,20190131,tablet,"Technical 50-50 AA-T:1,Second Technical 50-:0",18829.0,3437.0,20197.090574,55.0,13600
759,759,759,20190130,mobile,"Technical 50-50 AA-T:1,Second Technical 50-:1",1330.0,38.0,0.000000,0.0,591
760,760,760,20190131,desktop,"Technical 50-50 AA-T:1,Second Technical 50-:1",46225.0,8101.0,32093.913599,71.0,34750
761,761,761,20190131,mobile,"Technical 50-50 AA-T:1,Second Technical 50-:1",68018.0,14213.0,10033.770424,31.0,45745
762,762,762,20190131,tablet,"Technical 50-50 AA-T:1,Second Technical 50-:1",19693.0,3757.0,5327.874440,24.0,13831

In [6]:
df = pd.read_csv("ga_data_rndm_2.csv")

In [8]:
df.head()

,Unnamed: 0.1,Unnamed: 0,ga:date,ga:deviceCategory,ga:dimension13,ga:pageviews,ga:sessions,ga:transactionRevenue,ga:transactions,ga:uniquePageviews
0,0,0,20190101,desktop,"Technical 50-50 AA-T:0,Recommendation Slide:0,...",20471.0,3688.0,5752.689219,16.0,15230
1,1,1,20190101,mobile,"Technical 50-50 AA-T:0,Recommendation Slide:0,...",55935.0,11187.0,13608.661484,63.0,38746
2,2,2,20190101,tablet,"Technical 50-50 AA-T:0,Recommendation Slide:0,...",16573.0,2857.0,1888.473350,16.0,11914
3,3,3,20190102,desktop,"Technical 50-50 AA-T:0,Recommendation Slide:0,...",35192.0,5426.0,1974.257458,16.0,25681
4,4,4,20190102,mobile,"Technical 50-50 AA-T:0,Recommendation Slide:0,...",62595.0,11332.0,16585.946557,24.0,42533

In [14]:
df[["ga:dimension13"]]

                                        ga:dimension13
0    Technical 50-50 AA-T:0,Recommendation Slide:0,...
1    Technical 50-50 AA-T:0,Recommendation Slide:0,...
2    Technical 50-50 AA-T:0,Recommendation Slide:0,...
3    Technical 50-50 AA-T:0,Recommendation Slide:0,...
4    Technical 50-50 AA-T:0,Recommendation Slide:0,...
..                                                 ...
758      Technical 50-50 AA-T:1,Second Technical 50-:0
759      Technical 50-50 AA-T:1,Second Technical 50-:1
760      Technical 50-50 AA-T:1,Second Technical 50-:1
761      Technical 50-50 AA-T:1,Second Technical 50-:1
762      Technical 50-50 AA-T:1,Second Technical 50-:1

[763 rows x 1 columns]

In [15]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'ga:date', 'ga:deviceCategory',
       'ga:dimension13', 'ga:pageviews', 'ga:sessions',
       'ga:transactionRevenue', 'ga:transactions', 'ga:uniquePageviews'],
      dtype='object')

In [16]:
df.dtypes

Unnamed: 0.1               int64
Unnamed: 0                 int64
ga:date                    int64
ga:deviceCategory         object
ga:dimension13            object
ga:pageviews             float64
ga:sessions              float64
ga:transactionRevenue    float64
ga:transactions          float64
ga:uniquePageviews         int64
dtype: object

In [17]:
df.index

RangeIndex(start=0, stop=763, step=1)